

.freshair {
	max-width: 500px;
	margin: 0 auto;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	
}

img.freshair-logo {
	height: auto;
	max-height: 100%;
	max-width: 100%;
	width: auto;	
}

/* gfeed style */
.gfc-resultsHeader { border:none; } 
/*tweets style*/
#advicetweets { margin: 20px 0 10px 0; }
ul.tweet_list { list-style-type: none!important; padding:0; margin:0; }
ul.tweet_list li { padding: .5em; list-style-type: none!important;}
ul.tweet_list li.tweet_odd { background:#EEE; }
ul.tweet_list li.tweet_even { background:#FFF; }

.twitter-header {
	width:100%;
	padding-bottom: 1px;
}

.twitter-icon {
	float: right;
}
